@media screen and (max-width:1380px) {
    .header__banner{
        width: 400px;
        height: 430px;
        top: -180px;
        left: -400px;
    }
}

@media screen and (max-width:1200px) {
    .nullam__banner{
        width: 800px;
    }
    
    .nullam__desc-p{
        font-size: 9px;
    }
    
    .nullam__desc-h{
        font-size: 25px;
    }
    
    .nullam__desc{
        padding: 0 150px;
        margin-top: 140px;
    }
    
    .activity__wrap{
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
    }
}

@media screen and (max-width:1039px) {
    .header__center-desc{
        width: 400px;
    }
    
    .icons{
        width: 700px;
    }
}

@media screen and (max-width:805px) {
    .nullam__banner{
        width: 500px;
    }
    
    .nullam__desc{
        padding: 0;
        width: 400px;
    }
    
    .nullam{
        height: 690px;
    }
    
    .numbers__wrap{
        flex-wrap: wrap;
        gap: 100px;
    }
    
    .aenean__card{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    
    .aenean__card-two{

        flex-wrap: wrap;
    }
}

@media screen and (max-width:737px) {
    
    .commas__desc{
        width: 500px;
    }
    
    .icons img{
        width: 500px;
    }
    .icons{
        justify-content: center;
        display: flex;
    }
    
    .header__wrap{
        gap: 100px;
    }
    
    .header__center-desc{
        width: 100%;
        align-items: center;
        
    }
    .header__center-h{
        font-size: 50px;
    }
    
    .header__center-p{
        font-size: 20px;
    }
    
    .header__center{
        flex-wrap: wrap;
    }
    
    .header__banner{
       width: 200px;
       height: 250px;
       right: 0;
       top: 170px;
    }
    
}

@media screen and (max-width:600px) {
    .burgers{
        width: 370px;
    }
}


@media screen and (max-width:500px) {
    
    .footer-ul{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    .update__frame{
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
    
    .update__frame-input{
        width: 290px;
    }
    
    .dowload__btn-one{
        width: 100px;
        height: 40px;
        font-size: 10px;
    }
    
    .banner__phone{
        height: 200px;
    }
    
    .commas__desc{
        width: 100%;
        align-items: center;
    }
    
    .icons img {
        width: 280px;
    }
    
    .nav{
        flex-direction: column;
        gap: 10px;
    }
    
    .nav__menu{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .header__center{
        justify-content: center;
    }
    
    .header__center-desc{
        width: 220px;
        gap: 10px;
    }
    
    .header__banner{
        width: 200px;
        height: 250px;
        left: -200px;
        top: 150px;
     }
     
     .header__center-btn{
        width: 120px;
        height: 40px;
        font-size: 10px;
     }
     
     .header__center-h{
        line-height: 20px;
    }
    
    .header__center-p{
        text-align: center;
    }
    
    
    .nullam__banner{
        width: 364px;
    }
    
    .nullam__desc{
        width: 340px;
    }
    
    .nullam__desc-h{
        font-size: 22px;
    }
    
    .nullam{
        height: 550px;
    }
    
    .phone{
        width: 300px;
        height: 469px;
    }
    
    .card__wrap{
        flex-wrap: wrap;
        gap: 50px;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .card__wrap2{
        flex-wrap: wrap;
        align-items: center;
        gap: 50px;
    }
}

@media screen and (max-width:400px) {
    .burgers{
        width: 300px;
    }
}

@media screen and (max-width:364px) {
    
    .update__frame-input{
        width: 200px;
        font-size: 10px;
        height: 50px;
        border-radius: 3px;
    }
    
    .update__frame-btn{
        width: 100px;
        height: 50px;
        border-radius: 3px;
    }
    
    .burgers{
        width: 250px;
    }
    
    .aenean__desc{
        width: 100%;
    }
    
    .header__banner{
        width: 190px;
        height: 220px;
    }
    
    .nullam{
        height: 700px;
    }
    
    .nav__menu{
        width: 200px;
    }
    
    .phone{
        width: 240px;
        height: 400px;
    }
    
    .phone2{
        width: 250px;
    }
    
    .card__desc{
        width: 100%;
    }
    
    .activity__desc{
     width: 100%;   
    }
    
    .nullam__banner{
        width: 250px;
    }
    
    .nullam__desc{
        width: 100%;
    }
}